
<div class='jumbotron'>
    <h1>Student Registration</h1>
</div>
<div ng-controller="StudentsCtrl">
    <div class="row">
        <form name="userForm" class="simple-form">
            <div class="col-md-12">
                <div class="well form-container">

                    <div class='form-section'>

                        <h3>Basic information</h3>
                        <label for="first_name"> First Name/Friendly Name *</label>
                            <input type="text" id="first_name" ng-model="user.first_name" ng-minlength="3" required/><br>

                        <label for="last_name"> Last Name/Family Name *</label>
                            <input type="text" id="last_name" ng-model="user.last_name" required/><br>

                        <label for="email"> Email *</br>
                            <span class='explain'>must be a .edu email</span></label>
                            <input type="email" id="email" ng-model="user.email" required/><br>
                            <input type="checkbox" id="no_edu" ng-model="user.no_edu"/> I don't have a .edu email<br>

                        <label for="reimbursement"> Need Reimbursement? *</label>
                            <label class="radio-button">
                                <input type="radio" id="reimbursement" ng-model="user.reimbursement" name="reimbursement" data-ng-value="true" required/> Yes
                            </label>
                            <label class="radio-button">
                                <input type="radio" id="reimbursement" ng-model="user.reimbursement" name="reimbursement" data-ng-value="false" required/> No
                            </label>
                        
                        <label for="university"> University you attend *</label>
                            <input type="text" id="university" ng-model="user.university" required/><br>

                        <label for="travel_from_university"> Are you travelling from your university? *</label>
                            <label class="radio-button">
                                <input type="radio" id="travel_from_university" ng-model="user.travel_from_university" name="travel_from_university" data-ng-value="true" required/> Yes
                            </label>
                            <label class="radio-button">
                                <input type="radio" id="travel_from_university" ng-model="user.travel_from_university" name="travel_from_university" data-ng-value="false" required/> No
                            </label>
                            <label for="travel_address" ng-if="user.travel_from_university == false">Enter the zip code you will be travelling from so we can calculate reimbursement amounts</label>
                            <input ng-if="user.travel_from_university == false" type="text" id="travel_address" ng-model="user.travel_address"/>
                    </div>

                    <div class='form-section'>
                        <h3>Demographic information</h3>
                        
                        <label for="age"> Age *</label>
                            <input type="number" id="age" ng-model="user.age" min="10" max="130" required/>
                            
                        <label for="year"> Year in School *</label>
                            <select name="year" id="year" ng-model="user.year" required>
                                <option value=0>High School</option>
                                <option value=1>First Year</option>
                                <option value=2>Second Year</option>
                                <option value=3>Third Year</option>
                                <option value=4>Fourth Year</option>
                                <option value=5>Fifth Year</option>
                                <option value=6>Graduate</option>
                            </select>

                        <label for="shirt_size"> Shirt Size *</label>
                            <select name="shirt_size" id="shirt_size" ng-model="user.shirt_size" required>
                                <option value="s">Small</option>
                                <option value="m">Medium</option>
                                <option value="l">Large</option>
                                <option value="xl">Xtra Large</option>
                                <option value="2xl">2XL</option>
                                <option value="3xl">3XL</option>
                                <option value="4xl">4XL</option>
                            </select><br>

                        <label for="gender"> Gender </label>
                            <select name="gender" id="gender" ng-model="user.gender">
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                                <option value="other">Other</option>
                            </select>

                        <label for="dietary"> Any Dietary Restrictions? </br>
                            <span class='explain'>select all that apply</span></label>
                            <div class="col-md-6" ng-repeat="(key, text) in dietary_choices">
                                <label class="radio-button">
                                    <input type="checkbox" checklist-model="user.dietary" checklist-value="key"> {{text}}
                                </label>
                            

                            </div>
            
                            Other: 
                            <input type="text" id="other_dietary" ng-model="user.other_dietary" />


                        <label for="ethnicity"> How do you identify racially/ethnically? </br>
                            <span class='explain'>select all that apply </span></label>
                            <div class="col-md-6" ng-repeat="(key, text) in ethnicity_choices">
                                <label class="radio-button">
                                    <input type="checkbox" checklist-model="user.ethnicity" checklist-value="key"/> {{text}}
                                </label>
                            </div>
                            <br>


                    </div>
                    <div class='spacer'></div>
                    <div class='form-section'>
                        <h3>Other information</h3>
                        <label for="software_skills"> What software languages/frameworks/services are you familiar with? </br>
                            <span class='explain'>ex: Nodejs, Python, Angular, AWS, Azure, Heroku, etc.</span></label>
                            <input type="text" id="software_skills" ng-model="user.software_skills"/>

                        <label for="hardware_skills"> What hardware platforms/concepts are you familiar with? </br>
                            <span class='explain'>ex: RaspberryPi, BeagleBone, circuit design, communications protocols, etc.</span> </label>
                            <input type="text" id="hardware_skills" ng-model="user.hardware_skills"/>

                         <label for="github"> GitHub URL</label>
                            <input type="text" id="github" ng-model="user.github"/>

                        <label for="linkedin"> LinkedIn URL</label>
                            <input type="text" id="linkedin" ng-model="user.linkedin"/>

                        <label for="website"> Website URL</label>
                            <input type="text" id="website" ng-model="user.website"/>

                        <label for="cell"> Cell Phone *</br>
                            <span class='explain'>We will be using text alerts during the event!</span> </label>
                            <input type="number" id="cell" min="0" max="9999999999" name="cell" ng-model="user.cell" required/>

                        <label for="first"> First Hackathon? </label>
                            <label class="radio-button">
                                <input type="radio" id="first" ng-model="user.first" data-ng-value="true"/> Yes
                            </label>
                            <label class="radio-button">
                                <input type="radio" id="first" ng-model="user.first" data-ng-value="false"/> No
                            </label>
                    </div>

                    <div class='form-section'>
                        <h3>MLH Code of Conduct</h3>

                        <p>By submitting your registration, you are agreeing that have read and will comply with the <a class="btn btn-primary" target="_blank" ng-href="{{url}}" ng-mousedown="openCOC()">MLH Code of Conduct</a></p><br>
                        <label class="radio-button"><input type="radio" id="mlh_coc" ng-model="user.mlh_coc" data-ng-value="true" required/>Got it!</label>
                        
                        <label class="radio-button"><input type="radio" id="mlh_coc" ng-model="user.mlh_coc" data-ng-value="false"/>I don't agree</label>
                    </div>





                    <center>
                        <button class="btn btn-default" id='send-button' ng-disabled="userForm.$invalid" type="submit" ng-click="send()"> Submit! </button>
                        <p>Please report any problems to team@hackpsu.org! We cannot fix anything unless we know about it!</p>
                    </center>
                </div>
            </div>
        </form>
    </div>
  <!-- <pre>user = {{user | json}}</pre> -->
</div>
