<div class="jumbotron">
	<div class='logo'>
		<img src='http://hackpsu.org/assets/images/hackpsulogo.png'>
	</div>
   <h1 class='headline'>Welcome to #Hackyvalley</h1>
   <p class="lead">Are you registering as a student, volunteer, or mentor?</p>
   <div id='navigation-buttons'>
   		<a class="btn btn-lg btn-success" href="#students" role="button">Student</a>
   		<a class="btn btn-lg btn-success" href="#" role="button">Volunteer</a>
   		<a class="btn btn-lg btn-success" href="#" role="button">Mentor</a>
   	</div>
</div>